# TikTok APIs
TIKMATE_API_URL=https://api.tikmate.app/api/lookup
TIKWM_API_URL=https://www.tikwm.com/api/
TTSAVE_API_URL=https://www.ttsave.app/api/ajax/search

# AI APIs
GROQ_API_KEY=
GEMINI_API_KEY=

# Music Detection
AUDD_API_KEY=
ACR_HOST=
ACR_ACCESS_KEY=
ACR_ACCESS_SECRET=
YOUTUBE_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
